@font-face {
  font-family: 'menlo';
  src: url('fonts/Menlo-Regular-Full.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'spaceGroteskMedium';
  src: url('fonts/SpaceGrotesk-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'spaceGroteskBold';
  src: url('fonts/SpaceGrotesk-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'spaceGroteskRegular';
  src: url('fonts/SpaceGrotesk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'spaceGroteskRegular', 'menlo', sans-serif !important;
}

main.home {
  background-color: #5E95D6;
  background-image: url('images/comunidad_redpublica.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 50% auto;
  color: white;
  h1, h2, h3, h4, h5, h6 {
    color: rgb(2 2 3 / 1);
  }
  .editor-content {
    color: white;
  }

  @media (max-width: 481px) {
    background-size: 90% auto;
  }

  @media (max-width: 767px) {
    background-size: 80% auto;
  }

  @media (max-width: 1280px) {
    background-size: 70% auto;
  }

  &:last-child {
    padding-bottom: 30em;

    @media (max-width: 480px) {
      padding-bottom: 10em;
    }

    @media (max-width: 1280px) {
      padding-bottom: 15em;
    }
  }

  .activity__container, .card__grid-home, .card__list-list {
    background-color: white;
    padding: 1.5rem
  }
}

a.home__menu-element--link {
  font-family: 'menlo', sans-serif !important;
}

a.button.button__secondary {
  &::before {
    content: '';
    mask: url(images/flecha.svg) no-repeat center / contain;
    background-color: white;
    width: .7em;
    height: .7em;
  }
}

section.content-block, section.home__section {
  h2.home__section-title, div.content-block__title > h2.h2 {
    font-weight: normal;

    &::after {
      display: none;
    }
  }

  a.button.button__sm {
    background-color: black;
    color: white;
    border-radius: 9999px 9999px 9999px 9999px;
    text-transform: uppercase;
    padding: 8px 16px;

    &::before {
      content: '';
      mask: url(images/flecha.svg) no-repeat center / contain;
      background-color: white;
      width: 1em;
      height: 1em;
    }

    svg {
      display: none;
    }
  }
}

.exclamation-marks {
  &:before {
    content: "";
    display: inline-block;
    mask: url(images/exclamacion_izquierda.png) no-repeat center / contain;
    width: 1em;
    height: 1em;
    background-color: white;
  }

  &:after {
    content: "";
    display: inline-block;
    mask: url(images/exclamacion_derecha.png) no-repeat center / contain;
    width: 1em;
    height: 1em;
    background-color: white;
  }
}

section#enroll_section {
  div > .header > .title > h2 {
    position: relative;
    &:before {
      content: '';
      background-image: url(images/megafono_extra.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      display: block;
      width: 2em;
      height: 2em;
      position: absolute;
      left: -3em;
      top: 50%;
      transform: translateY(-40%);

      @media (max-width: 480px) {
        width: 2em;
        height: 2em;
        left: -3em;
      }

      @media (max-width: 1600px) {
        width: 4em;
        height: 4em;
        left: -4em;
      }

      @media (min-width: 1600px) {
        width: 5em;
        height: 5em;
        left: -5.5em;
      }
    }
  }
}

section#call_to_join_section {
  a.custom_button {
    background-image: url(images/elipsis.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

section#processes_list {
  .content-block__body > .processes_list > .card > .card__header > h3 {
    &:before {
      content: '';
      display: inline-block;
      mask: url(images/flecha.svg) no-repeat center / contain;
      background-color: white;
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
  }
}
